// @import 'yoga';
// @import 'normalize';
//
//
$blue: hsl(218, 71%, 53%);
$primary: $blue;

@import 'bulma';
$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
// @import 'font-awesome';


@import 'box-sizing';

.is-brand {
  font-size: 1.2rem;
  font-weight: normal;
}

.nav {
  background: $primary;

  .nav-item {
    color: $white-bis;

  }
}
